<div class="col-lg-8 p-5 offset-2">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-danger btn-lg" (click)="toggleError()">
        Toggle Error
      </button>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="asyncOps$ | async as data; else loadingOrError">

      <div class="col-12">
        <div class="list-unstyled row">
          <div *ngFor="let x of data; let i = index" class="list-item col-4">
            {{ i + 1 }} . {{ x.name | titlecase }}
          </div>
        </div>
      </div>


    </ng-container>
    <ng-template #loadingOrError>
      <ng-container *ngIf="errorObject; else loading">
        <div class="col-12 text-center">
          <div class="alert alert-danger">
            {{ errorObject }}
          </div>
        </div>
      </ng-container>
      <ng-template #loading>
        <div class="col-12 text-center">
          Loading ...
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
